/* CSS Externo */

/* Definir as cores Tema Dark */
/* raiz */
:root,
:root[data-theme='dark'] {
    --cor-fundo: #121212;
    /* fundo escuro */
    --cor-fundo-secundario: #1e1e1e;
    --cor-texto: #e0e0e0;
    /* texto claro */
    --cor-destaque: #8e44ff;
    /* roxo vibrante */
    --cor-borda: #333333;
    --menu-link: #f3e2e2;
}

:root[data-theme='light'] {
    --cor-fundo: #f5f5f5;
    /* fundo claro */
    --cor-fundo-secundario: #ffffff;
    --cor-texto: #1c1c1c;
    /* texto escuro */
    --cor-destaque: #6c2ed9;
    /* roxo mais suave */
    --cor-borda: #cccccc;
    --menu-link: #27414e;
}

/* Inverter Cor LOGO = Filtro */
html[data-theme='light'] .logo {
    filter: invert(1);
}



/* Reset CSS = Padronizar */
/* Seletor Universal */
* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--cor-fundo);
    /* cor fundo */
    color: var(--cor-texto);
    /* cor TEXTOS */
    font-family: "Playfair Display", serif;
}

a {
    color: var(--menu-link);
    text-decoration: none;
}

ul {
    list-style: none;
    /* Estilo de Lista */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--cor-fundo-secundario);
    border-bottom: 5px solid var(--cor-borda);
}

.menu-desktop {
    display: none;
    /* esconde o menu desktop */
}

/* NAV = UL */
.menu {
    display: flex;
    /* em linha // horizontal */
    gap: 1rem;
    /* 16px */
    align-items: center;
}

/* LI = listas */
.menu-item {
    width: 100%;
}

.menu-link {
    display: flex;
    align-items: center;
}

.menu-text {
    color: var(--menu-link);
    font-size: 1.2rem;
    text-transform: uppercase;
}

/* Menu Hamburguer
botao menu mobile */

#menuHamburger {
    margin-left: 1rem;
}

.btn-menu-mobile {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--cor-texto);
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}
 
/* NAV */
.menu-mobile {
    position: fixed;
    top: 0;
    right: 0;
    background: var(--cor-fundo);
    width: 75%;
    height: 100vh; /* viewPort Altura */
    border-left: 1px solid var(--cor-borda);
    max-width: 320px;
    display: flex;
    flex-direction: column;
    padding-top: 4rem ;
    transition: .3s ease-in-out ;/* voltar aqui */
    transform: translateX(100%);
}

/* Ativar o Menu Mobile */
.menu-mobile.active {
    transform: translateX(0%);
}

.menu-mobile  /* nav */
 .menu-list /* ul */ {
    display: flex;
    flex-direction: column; /* EIXO Y = Vertical */
    gap: 1rem;
    width: 100%;
    padding: 1rem 1rem 2rem;
}

.menu-mobile .menu-item {
    width: 100%;
       text-align: center;
}

.menu-mobile .menu-link {
    padding: 0.5rem 0;
    display: inline-block;
    font-size: 1rem;
}

.logo {
    width: 4.10rem ; /* comprimento */
    height: 2.40rem ; /* altura */
}

.header-toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#home {
    padding: 3.5rem 1rem;
}

/* Medidas Responsivas */
@media (min-width: 768px) {
    .menu-desktop {
        display: flex;
        min-width: 30%;
    }

    .btn-menu-mobile {
        display: none;
    }

    .header-toggle {
        min-width: 30%;
    } 
}
