/* CSS Externo */

/* Definir as cores Tema Dark */
/* raiz */
:root,
:root[data-theme='dark'] {
    --cor-fundo: #121212;
    /* fundo escuro */
    --cor-fundo-secundario: #1e1e1e;
    --cor-texto: #e0e0e0;
    /* texto claro */
    --cor-destaque: #8e44ff;
    /* roxo vibrante */
    --cor-borda: #333333;
    --menu-link: #f3e2e2;

    --cor-borda: #836b6b;

    --cor-hover-icone: #961818;

    .bi-github {
        color: #adadad;
    }
    /* Cinza suave */

    .bi-instagram {
        color: #f7b9d5;
    }
    /* Rosa pastel */

    .bi-facebook {
        color: #a8d8ea;
    }
    /* Azul bebê */

    .bi-whatsapp {
        color: #b5e7a0;
    }
    /* Verde menta */
}

:root[data-theme='light'] {
    --cor-fundo: #f5f5f5;
    /* fundo claro */
    --cor-fundo-secundario: #ffffff;
    --cor-texto: #1c1c1c;
    /* texto escuro */
    --cor-destaque: #6c2ed9;
    /* roxo mais suave */
    --cor-borda: #cccccc;
    --menu-link: #27414e;


    --cor-borda: #aa2222;

    --cor-hover-icone: #ffb300;
}

/* Ícones das redes sociais */
.redes-sociais i {
    color: #f7b9d5;
    /* Rosa pastel */
    font-size: 1.8rem;
    transition: 0.3s ease;
}

/* Inverter Cor LOGO = Filtro */
html[data-theme='light'] .logo {
    filter: invert(1);
}

/* Reset CSS = Padronizar */
/* Seletor Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--cor-fundo);
    /* cor fundo */
    color: var(--cor-texto);
    /* cor TEXTOS */

}

a {
    color: var(--menu-link);
    text-decoration: none;
}

ul {
    list-style: none;
    /* Estilo de Lista */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--cor-fundo-secundario);
    border-bottom: 5px solid var(--cor-borda);
    position: fixed;
    /* Voltar */
    z-index: 9999;
    /* Camadas */
    padding: .5rem 1rem;
}

.menu-desktop {
    display: none;
    /* esconde o menu desktop */
}

/* NAV = UL */
.menu {
    display: flex;
    /* em linha // horizontal */
    gap: 1rem;
    /* 16px */
    align-items: center;
}

/* LI = listas */
.menu-item {
    width: 100%;
}

.menu-link {
    display: flex;
    align-items: center;
}

.menu-text {
    color: var(--menu-link);
    font-size: 1.2rem;
    text-transform: uppercase;
}

/* Menu Hamburguer
botao menu mobile */

#menuHamburger {
    margin-left: 1rem;
}

.btn-menu-mobile {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--cor-texto);
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

/* NAV */
.menu-mobile {
    position: fixed;
    top: 0;
    right: 0;
    background: var(--cor-fundo);
    width: 75%;
    height: 100vh;
    /* viewPort Altura */
    border-left: 1px solid var(--cor-borda);
    max-width: 320px;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    transition: .3s ease-in-out;
    /* voltar aqui */
    transform: translateX(100%);
}

/* Ativar o Menu Mobile */
.menu-mobile.active {
    transform: translateX(0%);
}

.menu-mobile
/* nav */
.menu-list

/* ul */
    {
    display: flex;
    flex-direction: column;
    /* EIXO Y = Vertical */
    gap: 1rem;
    width: 100%;
    padding: 1rem 1rem 2rem;
}

.menu-mobile .menu-item {
    width: 100%;
    text-align: center;
}

.menu-mobile .menu-link {
    padding: 0.5rem 0;
    display: inline-block;
    font-size: 1rem;
}

.logo {
    width: 4.10rem;
    /* comprimento */
    height: 2.40rem;
    /* altura */
}

.header-toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#home {
    /* padding - é para dá espaço */
    padding: 4.1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

h1 {
    font-size: 2.5rem;
    font-family: "Source Serif 4", serif;
}

h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5rem;
    font-weight: 2rem;
}

h3 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.video ifame {
    aspect-ratio: 16/9;
}

#home,
.projetos,
.sobre,
.contato {
    padding: 2.5rem 1rem;
}

.descricao-video {
    display: flex;
    flex-direction: column;
    background: #69777e;
    padding: 6.26rem 1rem 2rem;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    margin-top: -5.5rem;
}

.descricao-video h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: -2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px 1.7px 1.9px 1.1px;
}

.projetos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projetos-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.projeto-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.img-card {
    width: 100%;
    border-radius: .5rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

/* H3  */
.card-titulo {
    color: var(--cor-texto);
    /* Cor do Texto */
    font-size: 2rem;
    /* Tamanho texto */
    font-weight: 400;
    /* largura das letras */
    font-family: "Inter", sans-serif;
    /* Estilo das fontes */

}

.card-descricao {
    color: var(--cor-texto);
    font-family: "Inter", sans-serif;
}

.card-item {
    margin-bottom: .8rem;
}

.card-item i {
    margin-right: 8px;
}

.card-item i:hover {
    color: var(--cor-hover-icone);
    transition: 0.3s ease-in-out;
}

.redes-sociais {
    font-size: 1.4rem;
}

.redes-sociais i:hover {
    color: #a8d8ea;
    transform: scale(1.2);
    text-shadow: 0 0 5px rgba(255, 200, 220, 0.7);
}

.col6 {
 background:#fbf9fd;
}

.col5 {
background: #27414e;
}

.col7 {
    background: red;
}

/* Medidas Responsivas */
@media (max-width: 768px) {
    #home {
        padding-top: 5rem;
    }

}


@media (min-width: 768px) {

    #home {
        padding-top: 6rem;
    }

    .menu-desktop {
        display: flex;
        min-width: 30%;
    }

    .btn-menu-mobile {
        display: none;
    }

    .header-toggle {
        min-width: 30%;
    }

    header {
        padding: 1rem 6rem;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    #home .projetos,
    .sobre {
        padding: 8rem 6rem 4rem 6rem;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

/* FIM min 768px  */

@media (min-width: 992px) {
    .projeto-card {
        flex-direction: row;
    }

    .img-card {
        /* Tamanho da Fotos */
        width: 55%;
    }

    .reverse-card {
        /* Espelhar */
        flex-direction: row-reverse;
    }

}

@media (min-width: 1200px) {
    h2 {
        font-size: 1.5rem;
    }
}

@media (min-width: 1400px) {
    h1 {
        font-size: 6.5rem;
    }

    h2 {
        font-size: 4.5rem;
    }

    h3 {
        font-size: 3.25rem;
    }
}

.projetos,
sobre {
    padding: 10rem 15rem 4rem;
}